<%- include("partials/headerList") -%>
  <body>
    
  

 
        <div class="box " id="heading">
            <h1> <%= listTitle %> List </h1>
            <h2 > <%= todaysDate %></h2>
          </div>
        
          <div class="box ">
        
        
          <%  newListItems.forEach(function(item){ %>
        
            <form action="/delete" method="POST">
              <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p><%=item.itemName%></p>
              </div>
              <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
          <%  }) %>
        
        
              <form class="item" action="/add" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
              </form>
          </div>
          <div class="backdiv">
          <a href="/listmenu"><button class="back">Back</button></a>
          <a href="/logout"><button class="back">Logout</button></a>
        
        </div>



</body>

<%- include("partials/footerList") -%>
